<div class="card" >
    <div class="card-body">
        <span class="float-start m-2 me-4">
            <img [src]="'assets/images/users/avatar-2.jpg'" style="height: 100px;" alt="" class="rounded-circle img-thumbnail">
        </span>
        <div class="">
            <h4 class="mt-1 mb-1">Raji</h4>
            <p class="font-13"> President</p>

            <ul class="mb-0 list-inline">
                <li class="list-inline-item me-3">
                    <h5 class="mb-1">9563524178</h5>
                    <!-- <p class="mb-0 font-13">Total Revenue</p> -->
                </li>
                <li class="list-inline-item">
                    <h5 class="mb-1">raji@gmail.com</h5>
                    <!-- <p class="mb-0 font-13">Number of Orders</p> -->
                </li>
            </ul>
        </div>
        <!-- end div-->
    </div>
    <!-- end card-body-->
</div>
<div class="card" >
    <div class="card-body">
        <span class="float-start m-2 me-4">
            <img [src]="'assets/images/users/avatar-6.jpg'" style="height: 100px;" alt="" class="rounded-circle img-thumbnail">
        </span>
        <div class="">
            <h4 class="mt-1 mb-1">Santhosh</h4>
            <p class="font-13"> Secretory</p>

            <ul class="mb-0 list-inline">
                <li class="list-inline-item me-3">
                    <h5 class="mb-1">8965201479</h5>
                    <!-- <p class="mb-0 font-13">Total Revenue</p> -->
                </li>
                <li class="list-inline-item">
                    <h5 class="mb-1">santhosh@gmail.com</h5>
                    <!-- <p class="mb-0 font-13">Number of Orders</p> -->
                </li>
            </ul>
        </div>
        <!-- end div-->
    </div>
    <!-- end card-body-->
</div>