<div class="row">
    <div class="col-sm-6 col-lg-3" *ngFor="let item of products">

        <!-- Simple card -->
        <div class="card d-block">
            <img class="card-img-top" [src]="item.images" alt="item.name">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <div class="product-price" ><span class="text-accent">Total Stock {{item.totalStock}}</span>
                    <!-- <del class="fs-sm text-muted" >Available Stock {{item.availbleStock}}</del> -->
                  </div>
                  <div class="product-price mb-3" ><span class="text-success">Available Stock {{item.availbleStock}}</span>
                    <!-- <del class="fs-sm text-muted" >Available Stock {{item.availbleStock}}</del> -->
                  </div>
                <div class="d-flex justify-align-between">
                    <a [routerLink]="'.'" class="btn btn-primary w-50">Return</a>
                    <a [routerLink]="'.'" class="btn btn-success w-50">Provide</a>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div><!-- end col -->
</div>
